<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dndapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Login.ServerSettingsActivity"
            android:label="@string/title_activity_server_settings"
            android:parentActivityName=".Login.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.dndapp.Login.MainActivity" />
        </activity>
        <activity android:name=".Player.PlayerInfoActivity" />
        <activity android:name=".Login.ForgotPasswordActivity" />
        <activity android:name=".PdfViewerActivity" />
        <activity android:name=".Login.RegisterActivity" />
        <activity android:name=".Playthrough.PlaythroughActivity" />
        <activity android:name=".Main.SecondActivity" />
        <activity android:name=".Login.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>